@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Do+Hyeon&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Text+Me+One&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-Inter: "Inter", sans-serif;
  --font-mono: var(--font-geist-mono);
  --breakpoint-xs: 20rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
    --color: black;
    --font-weight: 500;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

h1 {
  @apply lg:text-[3rem] font-[600] uppercase leading-2 text-black xs:text-[2.5rem] xs:leading-7;
}

h2 {
  @apply lg:text-[2rem] font-[500] lg:leading-10 text-black xs:text-[1.75rem] xs:leading-7;
  color: var(--color);
  font-weight: var(--font-weight);
}

h3 {
  @apply lg:text-[1.75rem] font-[500] lg:leading-8 text-black  xs:text-[1.5rem] xs:leading-7;
  color: var(--color);
}

.h3-small {
  @apply text-[1.75rem] font-[500] lg:leading-8 text-black xs:text-[1.25rem] xs:leading-7;
}

p {
  @apply lg:text-[1.2rem] font-[500] lg:leading-8 text-black xs:text-[0.875rem] xs:leading-6;
}

.footer-p {
  @apply text-[1rem] font-[500] normal-case leading-6 text-gray-600 xs:text-[0.8rem] xs:leading-4;
}

.grey-par {
  @apply lg:text-[1rem] font-[500] normal-case lg:leading-6 text-gray-600 xs:text-[0.875rem] xs:leading-6;
  color: var(--color);
}

.grid {
  @apply max-w-[1300px] lg:grid grid-flow-col grid-rows-3 gap-6 justify-items-stretch sm:flex sm:flex-col sm:gap-y-6 xs:flex xs:flex-col xs:gap-y-6;
}

.gridRowSpan1 {
  @apply lg:grid grid-flow-col grid-rows-1 gap-6 justify-items-stretch sm:gap-y-6 sm:flex sm:flex-col sm:justify-items-start xs:flex xs:flex-col xs:gap-y-6;
}

.p-green {
  @apply text-[1.5rem] font-[500] leading-8 text-[#00a172];
}

span {
  color: var(--color);
}
